@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@300;400&display=swap");


* {
  
  padding: 0;
  
  box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */
.navbar {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}


.search-form {
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  border: #000000 solid;
  margin: 10px !important;
  border-radius: 10;
  width:430px !important
}
.search-form button {
  background-color: #000000;
  border-radius: 10;
  color: white;
  margin-top: 10px !important;
  width: 40px;
  height: 40px;
  border-width: 2px;
}

/* =============================
==========footer============= */

.footer {
  clear: both;
  position: relative;
  margin-top: 55px; 
  color: white;
  padding: 25px;
  margin-bottom: 0px;
  text-align: center;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(244,205,50,1), rgba(239,113,34,1), rgba(194,74,0,1));
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin-top: 30px;
  padding: 0;
  
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactus p{
  font-size: larger;
  font-weight: bolder;
}
.megadiv{
  display: flex !important;
}
/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}
/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}
