
.google_btn {
    width: 230px;
    height: 40px;
    border-radius: 5px;
    border: none !important;
    background-color: rgb(255, 36, 36) !important;
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.google_btn > img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.google_btn > span{
    margin-left: 10px;
}