/* .megadiv {
    margin-top: 110px;
    margin-bottom: -50px;
} */

.button {
  width: 12rem;
  height: 8rem;
  font-size: 1.5rem;
  transform: scale(0.9);
  
  transition: transform 330ms ease-in-out;
  border: 2px solid;
  color: #235789;
  border-color: #235789;
}

.button:hover{

    background-color: #c1292e;
    color:white;
    border: none;
    
    font-weight: bolder;
    border: 2px solid;
    border-color: #c1292e;
}
.subdiv {
    margin: 20px;
    
}

.contactus {
    margin-top: 20px;
    padding: 20px;
    
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contactus p{
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
  }
  .contactus h4{
    color: grey;
    font-size: 25px;
    
  }

  /* .megadiv{
    display: flex !important;
  } */