@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nav-decor{
    /* width: 20%; */
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: poppins;
    font-size: large;
    font-weight: bold;
    margin: 10px;
    padding: 0px !important;
}
.image{
    width:15%; 
    margin: 0px !important;
}

.nav-color{
    background-color: #fcf8ee;
}
.nav-pad{
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart-decor{
    width: 20%;
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: "poppins", sans-serif;
    font-size: larger;
    margin: 7px;
    padding: 8px 10px 0px 0px !important;
}