/* ===================================
========= register page  */
.form-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  flex-direction: column;
  background-color: #fcf8ee;
  
}

.form-container-v2{
  width: 500px;
  background-color: #f1f1f1;
  padding: 40px;
  border-radius: .5rem;
  box-shadow: 0px 0px 20px orange;
}
.form-container-v2 h4{
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.register-button{
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: .5rem;
  font-size: medium;
  font-weight: bolder;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: orange;
  color:white;
  transition: all 0.4s;
  margin-top: 20px;
}

.register-button:hover{
  transition: all 0.4s;
  background-color: white;
  border: 1px solid white;
  color: black;
}
.backBTN{
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: .5rem;
    font-size: medium;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 7px;
    background-color: white;
    color:black;
    transition: all 0.4s;
    margin-top: 20px;
}

.backBTN:hover{
    transition: all 0.4s;
    background-color: orange;
    border: 1px solid white;
    color: white;
}
.forgot-btn {
  background-color: #434343a4 !important;
  border: 0 !important;
}

.forgot-btn:hover {
  color: white !important;
}
